<!-- <div class="card  shadow" style="margin: 4px;" *ngFor="let mes of listMensajes">
    <img [src]="mes.url_img" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{mes.desc}}.</p>
    </div>
</div>
 -->

<div class="container">
    <h2> <strong class="tituloH1"> Ellas escriben  </strong> </h2>
    <div class="card text-white bg-primary mb-3" *ngFor="let mes of listMensajes">
        <img [src]="mes.url_img" class="card-img-top imgMensajes" alt="...">
        <div class="card-body">
            <h5 class="card-title">Maria</h5>
            <p class="card-text">{{mes.desc}}.</p>
        </div>
    </div>
</div>