<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/inicio']">
        Goo Relax
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav text-center mt-1 ">
            <button type="button" class="btn btn-warning">  Publica un Anuncio </button>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="showMenu">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Publicaciones </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">LanzarOferta </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">EnviaMensaje </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Estadistica </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Facturacion </a>
            </li>
        </ul>
         <form class="form-inline  my-2 my-lg-0">
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="button"> Mi cuenta</button>
            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0 " (click)="registrarse();" type="button"> Registrate</button>
            <button class="btn btn-outline-info btn-sm my-2 my-sm-0 " type="button"> Descarga App</button>
        </form> 
    </div>
</nav> -->



<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/inicio']">
        Goo Relax
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-center " routerLinkActive="active">
                <button type="button" class="btn btn-warning" routerLink="/publicacion/0">Publicar Anuncio </button>
            </li>
            <li class="nav-item " routerLinkActive="active" *ngIf="showMenu">
                <a class="nav-link" [routerLink]="['home']">Publicaciones </a>
            </li>
            <li class="nav-item " routerLinkActive="active" *ngIf="showMenu">
                <a class="nav-link" [routerLink]="['home']">LanzarOferta </a>
            </li>
            <li class="nav-item " routerLinkActive="active" *ngIf="showMenu">
                <a class="nav-link" [routerLink]="['home']">EnviaMensaje </a>
            </li>
            <li class="nav-item " routerLinkActive="active" *ngIf="showMenu">
                <a class="nav-link" [routerLink]="['home']">Estadistica </a>
            </li>
            <li class="nav-item " routerLinkActive="active" *ngIf="showMenu">
                <a class="nav-link" [routerLink]="['home']">Facturacion </a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 formBoton">
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="button"> Mi cuenta</button>
            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0 " *ngIf="!showMenu" (click)="registrarse();" type="button"> Registrate</button>
            <button class="btn btn-outline-info btn-sm my-2 my-sm-0 " type="button"> Descarga App</button>
            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0 " type="button" (click)="cerrarSesion()" *ngIf="showMenu">  Cerrar Sesion</button>
        </form>


    </div>
</nav>