.bodyAnuncio {
    padding: 15px;
}

.bodyAnuncio label {
    font-size: 12px;
}

.bodyAnuncio .form-group {
    margin-bottom: 5px;
}

.bodyAnuncio .form-control {
    font-size: 12px;
}

.bgTarifa {
    background-color: #bf930d !important;
}

.bodyAnuncio table {
    font-size: 11px;
    font-weight: 400;
    font-family: tahoma;
}

.bodyAnuncio a {
    color: #007bff;
    text-decoration: underline;
    background-color: transparent;
}

.imgLightboxDetallado {
    width: 100%;
    cursor: pointer;
    height: 250;
}

.card-group {
    flex-direction: row;
}

.botonFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.botonFile .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.list-group-item2 {
    background-color: #383d41;
    border: 1px solid #e9ecef;
    padding: 0.3.5rem 1.25rem;
    border-left: 0px;
    border-right: 0px;
    font-size: 13px;
}

.badge-pill {
    padding-bottom: 4px;
}

.custom-control-inline {
    margin-bottom: 10px !important;
}

agm-map {
    height: 500px;
}

a {
    color: darkblue;
}

.gm-style .gm-style-iw {
    color: black;
}

.imgPhoto {
    width: 100%;
    cursor: pointer;
    max-height: 270px;
}

.basepriceAnterior {
    font-size: 17px;
    margin: 0;
    color: #bbb;
    font-weight: 600;
    text-decoration: line-through;
}

.baseprice {
    font-size: 25px;
    margin: 0;
    color: #FF6000;
    font-weight: 800;
}

p {
    margin-top: 0;
    margin-bottom: -5px;
}

.modalContent_TipoAnuncio {
    background-color: black;
    border: 1px solid #dc3545;
}

.tituloDiaAnuncio {
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    color: #343a40;
}