<div class="row mt-2">
    <div class="col-md-12">
        <app-carousel [listCarousel]="anunciosTop"></app-carousel>
    </div>
</div>
<br>
<hr>

<app-spinnerloading></app-spinnerloading>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <h1> <strong class="tituloH1"> Modelos Premium  </strong> </h1>

        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll('P')" [scrollWindow]="false">
            <app-listanuncios [listAnuncios]="anunciosPremium"></app-listanuncios>
        </div>

        <hr>

        <h1> <strong class="tituloH1"> Modelos Vip  </strong> </h1>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll('V')" [scrollWindow]="false">
            <app-listanuncios [listAnuncios]="anunciosVip"></app-listanuncios>
        </div>

        <hr>
        <h1> <strong class="tituloH1"> Modelos Solicitadas  </strong> </h1>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll('S')" [scrollWindow]="false">
            <app-listanuncios [listAnuncios]="anunciosSolicitadas"></app-listanuncios>
        </div>
        <hr>
        <h1> <strong class="tituloH1"> Gratiutas  </strong> </h1>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll('G')" [scrollWindow]="false">
            <app-listanuncios [listAnuncios]="anunciosGratuitas"></app-listanuncios>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2  col-lg-2">
        <div class="row">
            <app-mensajes [listMensajes]="mensajes"></app-mensajes>
            <br>
            <div class="row">
                <app-ofertas [listOfertas]="ofertas"></app-ofertas>
            </div>
        </div>
    </div>
</div>